<body id="main">
  {{!-- Header and Top Image --}}
  <div class="top-box">
    <h1 class="header" id="burger-hdr">Eat-Da-Burger!</h1>

    <img class="mx-auto d-block" alt="Picture of Delicious Juicey Hamburger" height="250" width="450"
      src="https://res.cloudinary.com/fsgeoff/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1607053107/burger_pdlz2p.jpg"
      </div>

    {{!-- Submit Burger Form --}}
    <div class="container">
      <row class="row">
        <form class="create-form" style="width: 1200px">
          <div class="input-group mb-4 col-sm-5" id="burger-input">
            <label for="burger"></label>
            <input type="text" class="form-control" id="burger" placeholder="Burger Choice"
              aria-describedby="basic-addon1" />
            <button type="submit" class=" create-form btn btn-primary btn-lg btn-block">
              Submit Burger
            </button>
          </div>
        </form>
      </row>
    </div>
  </div>
  <div class="col-sm" id="eaten">

{{!-- NOT DEVOURED SECTION --}}
    <div class="container">
      <div class="row">
        <div class="col-sm" id="not-eaten">
          <ol class="not-eaten">
            <h3 style="color: rgb(58, 58, 241);">Not Devoured</h3>
            <li>
              {{#each burgers}}
              {{#unless devoured}}
              {{> burger/burger-block devoured=true}}
              {{/unless}}
              {{/each}}
            </li>
          </ol>
        </div>

{{!-- DEVOURED SECTION  --}}
        <div class="col-sm" id="eaten">
          <ol class="devoured">
            <h3 style="color: rgb(21, 172, 21);">Devoured</h3>
            <li>
              {{#each burgers}}
              {{#if devoured}}
              {{> burger/burger-block devoured=false}}
              {{/if}}
              {{/each}}
            </li>
          </ol>
        </div>
      </div>
    </div>