body {
	background-color: rgb(242, 173, 44);
}
#main {
	background-color: rgb(242, 173, 44);
}

.header {
	text-align: center;
	font-size: 90px;
	color: rgb(233, 13, 53);
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.top-box {
	width: 100%;
	text-align: center;
}
.burger-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32.3%;
}

.create-form input-group mb-4 col-sm-4 {
	margin: 0 auto;
	position: block;
}

#burger-input {
	text-align: center;
	margin: 0 auto;
}

.not-eaten {
	float: right;
	margin-left: 20px;
	padding: 8px;
	border: 8px;
}
.eaten {
	float: left;
	margin-right: 20px;
	padding: 8px;
	border: 8px;
}
