<li>
	{{burger_name}}

	<button class="change-devoured btn btn-primary btn-lg btn-block" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}NOT DEVOURED!{{/if}}
	</button>


</li>